<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sundar | Edit Product</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css"/>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>

  <script>
    var myInput = document.getElementById('myFileInput');

    function sendPic() {
      var file = myInput.files[0];

      // Send file here either by adding it to a `FormData` object
      // and sending that via XHR, or by simply passing the file into
      // the `send` method of an XHR instance.
    }

    myInput.addEventListener('change', sendPic, false);
  </script>
</head>

<body>
  <div class="container">

    <h2>Upload a new product, or edit an existing one</h2>
    <br>

    <!-- //TODO: Insert a real action here that updates a product or uploads a new one -->
    <form method="POST" enctype="multipart/form-data" name="edit_form" action="/api/set_item">
      {% csrf_token %}
      <input name="item_id" value="{{ item.id }}" type="hidden"/>
      <table class="table table-striped">
      
        <!-- Product name -->
        <tr>
          <td><label>Product name</label></td>
          <td><input name="product_name" type="text" size="50" placeholder="Product name" value="{{ item.product_name }}"/></td>
        </tr>

        <!-- Product code/SKU -->
        <tr>
          <td><label>Product code/SKU</label></td>
          <td><input name="product_code" type="text" size="50" placeholder="Product code/SKU" value="{{ item.product_code }}"/></td>
        </tr>

        <!-- Upload photo -->
        <tr>
          <td><label>Upload photo</label></td>
          <td><input id="image" name="image" type="file" accept="image/*;capture=camera"></td>
        </tr>

        <!-- In stock/made to order -->
        <tr>
          <td><label>In stock</label></td>
          <td><input type="checkbox" id="in_stock" name="in_stock" {% if item.in_stock %} checked="checked"{% endif %}></td>
        </tr>

        <!-- Wholesale price -->
        <tr>
          <td><label>Wholesale price</label></td>
          <td><input type="tel" size="10" name="wholesale_price" placeholder="0.00" value="{{ item.wholesale_price }}"/>
              <select id="price_units" name="price_units" autocomplete="off" style="font-size:1.1em;">
                {% for unit, display_unit in wholesale_price_units.items %}
                  <option value="{{ unit }}" {% if item.wholesale_price_units == unit %}selected="selected"{% endif %}>{{ display_unit }}</option>
                {% endfor %}
              </select></td>
        </tr>
        
        <!-- Volume discount -->
        <tr>
          <td><label>Volume discount</label></td>
          <td><input name="volume_discount" type="text" size="50" placeholder="Volume discount" value="{{ item.volume_discount }}"/></td>
        </tr>

        <!-- Fabric width -->
        <tr>
          <td><label>Fabric width</label></td>
          <td><input type="tel" size="10" name="fabric_width" placeholder="0.00" value="{{ item.fabric_width }}"/>
              <select id="width_units" name="width_units" autocomplete="off" style="font-size:1.1em;">
                {% for unit, display_unit in fabric_width_units.items %}
                  <option value="{{ unit }}" {% if item.fabric_width_units == unit %}selected="selected"{% endif %}>{{ display_unit }}</option>
                {% endfor %}
              </select></td>
        </tr>

        <!-- Basic material type -->
        <tr>
          <td><label>Basic material type</label></td>
          <td><select id="material_type" name="material_type" autocomplete="off" style="font-size:1.1em;">
            {% for type, display_type in basic_material_types.items %}
              <option value="{{ type }}" {% if item.material_type == type %}selected="selected"{% endif %}>{{ display_type }}</option>
            {% endfor %}
          </select></td>
        </tr>

		<!-- Fiber -->
        <tr>
          <td><label>Fiber</label></td>
          <td><select id="fiber_type" name="fiber_type" autocomplete="off" style="font-size:1.1em;">
                {% for type, display_type in fiber_types.items %}
                  <option value="{{ type }}" {% if item.fiber_type == type %}selected="selected"{% endif %}>{{ display_type }}</option>
                {% endfor %}
              </select></td>
        </tr>

        <!-- Textile type -->
        <tr>
          <td><label>Textile type</label></td>
          <td><input name="textile_type" type="text" size="50" placeholder="Textile type" value="{{ item.textile_type }}"/></td>
        </tr>

        <!-- Weave type -->
        <tr>
          <td><label>Weave type</label></td>
          <td><select id="weave_type" name="weave_type" autocomplete="off" style="font-size:1.1em;">
            {% for type, display_type in weave_types.items %}
              <option value="{{ type }}" {% if item.weave_type == type %}selected="selected"{% endif %}>{{ display_type }}</option>
            {% endfor %}
          </select></td>
        </tr>

        <!-- Fabric weight -->
        <tr>
          <td><label>Fabric weight</label></td>
          <td><input type="tel" size="10" name="weight" placeholder="0.00" value="{{ item.weight }}"/>
              <select id="weight_units" name="weight_units" autocomplete="off" style="font-size:1.1em;">
                {% for unit, display_unit in fabric_weight_units.items %}
                  <option value="{{ unit }}" {% if item.weight_units == unit %}selected="selected"{% endif %}>{{ display_unit }}</option>
                {% endfor %}
              </select></td>
        </tr>

        <!-- Color -->
        <tr>
          <td><label>Color</label></td>
          <td><input name="color" type="text" size="50" placeholder="Imperial Purple (Pantone 19-3528 TCX)" value="{{ item.color }}"/></td>
        </tr>

        <!-- Country of origin -->
        <tr>
          <td><label>Country of origin</label></td>
          <td><input name="country_origin" type="text" size="50" placeholder="India" value="{{ item.country_origin }}"/></td>
        </tr>

      </table>

      <!-- Submit button -->
      <input type="submit" name="submit" value="Upload product" class="btn btn-large btn-primary">
      <br>
    </form>

    <hr>
    <p>Having trouble with this form, or want to send feedback? <a href="mailto:hello@sundar.io">Contact Sundar</a></p>
    <br><br><br><br><br><br><br><br><br><br><br><br>
  </div>

</body>
</html>
