{% extends "mobile_base.html" %}
{% block title %} Edit Product {% endblock %}

{% block head %}
  <script src="{{STATIC_URL}}mobile/js/tag-it.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
  <link href="{{STATIC_URL}}mobile/css/jquery.tagit.css" rel="stylesheet" type="text/css">
  <script src="{{STATIC_URL}}mobile/js/jquery.minicolors.js"></script>
  <link rel="stylesheet" href="{{STATIC_URL}}mobile/css/jquery.minicolors.css">
  <script>
    var myInput = document.getElementById('myFileInput');

    function sendPic() {
      var file = myInput.files[0];

      // Send file here either by adding it to a `FormData` object
      // and sending that via XHR, or by simply passing the file into
      // the `send` method of an XHR instance.
    }

    //myInput.addEventListener('change', sendPic, false);
    $(function(){
        var tags = {{textile_types_list|safe}};

        var countries = {{countries|safe}};
        $('#textile_type').tagit({
            availableTags: tags,
            fieldName: 'type'
        });

        $( "#country_origin" ).autocomplete({
          source: countries
        });
        $('#color_picker').minicolors({
          animationSpeed: 50,
          animationEasing: 'swing',
          change: null,
          changeDelay: 0,
          control: 'hue',
          defaultValue: '',
          hide: null,
          hideSpeed: 100,
          inline: false,
          letterCase: 'lowercase',
          opacity: false,
          position: 'bottom left',
          show: null,
          showSpeed: 100,
          theme: 'default',
          change: function(hex, opacity) {
                  if( !hex ) return;
                  if( opacity ) hex += ', ' + opacity;
                  try {
                          console.log(hex);
                  } catch(e) {}
          },
          theme: 'bootstrap'
        });

    });
    $(document).ready(function() {
      $('.img_upload').change(function() {
        var that = this;
        if (this.files && this.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#preview'+$(that).attr("data-num"))
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(this.files[0]);
            }
      });
    });
  </script>
{% endblock %}

{% block body %}
  <div class="container">

    <h2>Upload a new product, or edit an existing one</h2>
    <br>

    <!-- //TODO: Insert a real action here that updates a product or uploads a new one -->
    <form method="POST" enctype="multipart/form-data" name="edit_form" action="/api/set_item">
      {% csrf_token %}
      <input name="item_id" value="{{ item.id }}" type="hidden"/>
      <table class="table table-striped">
        <!-- Product name -->
        <tr>
          <td><label>Product name</label></td>
          <td><input name="product_name" type="text" size="25" placeholder="Product name" value="{{ item.product_name }}"/></td>
        </tr>

        <!-- Product code/SKU -->
        <tr>
          <td><label>Product code/SKU</label></td>
          <td><input name="product_code" type="text" size="25" placeholder="Product code/SKU" value="{{ item.product_code }}"/></td>
        </tr>

        <!-- Upload photos -->
        <tr>
          <td><label>Upload photos</label></td>
          <td>
            <img id="preview1" src="{{ item.image1_url }}" alt="product photograph" width="75" height="75">
            <input id="image1" data-num="1" class="img_upload" name="image1" type="file" accept="image/*;capture=camera">

            <img id="preview2" src="{{ item.image2_url }}" alt="product photograph" width="75" height="75">
            <br><input id="image2" data-num="2" class="img_upload" name="image2" type="file" accept="image/*;capture=camera">

            <img id="preview3" src="{{ item.image3_url }}" alt="product photograph" width="75" height="75">
            <br><input id="image3" data-num="3" class="img_upload" name="image3" type="file" accept="image/*;capture=camera">

            <img id="preview4" src="{{ item.image4_url }}" alt="product photograph" width="75" height="75">
            <br><input id="image4" data-num="4" class="img_upload" name="image4" type="file" accept="image/*;capture=camera">
          </td>
        </tr>

        <!-- In stock/made to order -->
        <tr>
          <td><label>Inventory</label></td>
          <td><input type="checkbox" id="in_stock" name="in_stock" {% if item.in_stock %} checked="checked"{% endif %}> In stock<br>
          <input type="checkbox" id="made_to_order" name="made_to_order" {% if item.made_to_order %} checked="checked"{% endif %}> Made to order<br>
          <input type="checkbox" id="reorder_av" name="reorder_av" {% if item.reorder_av %} checked="checked"{% endif %}> Reorder A/V</td>
        </tr>

        <!-- Lead time -->
        <tr>
          <td><label>Lead time</label></td>
          <td><input name="lead_time" type="tel" size="10" placeholder="2.5" value="{{ item.lead_time }}"/>
          <select id="lead_time_unit" name="lead_time_unit">
            <option value="days">Days</option>
            <option value="weeks">Weeks</option>
            <option value="months">Months</option>
          </select>
          </td>
        </tr>

        <!-- Wholesale price -->
        <tr>
          <td><label>Wholesale price</label></td>
          <td><input type="tel" size="10" name="wholesale_price" placeholder="0.00" value="{{ item.wholesale_price }}"/>
              <select id="price_units" name="price_units" autocomplete="off" style="font-size:1.1em;">
                {% for unit, display_unit in wholesale_price_units.items %}
                  <option value="{{ unit }}" {% if item.wholesale_price_units == unit %}selected="selected"{% endif %}>{{ display_unit }}</option>
                {% endfor %}
              </select></td>
        </tr>

        <!-- Volume discount -->
        <tr>
          <td><label>Volume discount</label></td>
          <td><input name="volume_discount" type="text" size="25" placeholder="Volume discount" value="{{ item.volume_discount }}"/></td>
        </tr>

        <!-- Fabric width -->
        <tr>
          <td><label>Fabric width</label></td>
          <td><input type="tel" size="10" name="fabric_width" placeholder="0.00" value="{{ item.fabric_width }}"/>
              <select id="width_units" name="width_units" autocomplete="off" style="font-size:1.1em;">
                {% for unit, display_unit in fabric_width_units.items %}
                  <option value="{{ unit }}" {% if item.fabric_width_units == unit %}selected="selected"{% endif %}>{{ display_unit }}</option>
                {% endfor %}
              </select></td>
        </tr>

        <!-- Basic material type -->
        <tr>
          <td><label>Basic material type</label></td>
          <td><select id="material_type" name="material_type" autocomplete="off" style="font-size:1.1em;">
            {% for type, display_type in basic_material_types.items %}
              <option value="{{ type }}" {% if item.material_type == type %}selected="selected"{% endif %}>{{ display_type }}</option>
            {% endfor %}
          </select></td>
        </tr>

		<!-- Fiber -->
        <tr>
          <td><label>Fiber</label></td>
          <td><select id="fiber_type" name="fiber_type" autocomplete="off" style="font-size:1.1em;">
                {% for type, display_type in fiber_types.items %}
                  <option value="{{ type }}" {% if item.fiber_type == type %}selected="selected"{% endif %}>{{ display_type }}</option>
                {% endfor %}
              </select></td>
        </tr>

    <!-- Textile type -->
        <tr>
          <td><label>Textile type</label></td>
          <td><input id="textile_type" name="textile_type" type="text" size="25" placeholder="Textile type" value="{{ item.textile_type }}"/></td>

        </tr>

        <!-- Weave type -->
        <tr>
          <td><label>Weave type</label></td>
          <td><select id="weave_type" name="weave_type" autocomplete="off" style="font-size:1.1em;">
            {% for type, display_type in weave_types.items %}
              <option value="{{ type }}" {% if item.weave_type == type %}selected="selected"{% endif %}>{{ display_type }}</option>
            {% endfor %}
          </select></td>
        </tr>

        <!-- Fabric weight -->
        <tr>
          <td><label>Fabric weight</label></td>
          <td><input type="tel" size="10" name="weight" placeholder="0.00" value="{{ item.weight }}"/>
              <select id="weight_units" name="weight_units" autocomplete="off" style="font-size:1.1em;">
                {% for unit, display_unit in fabric_weight_units.items %}
                  <option value="{{ unit }}" {% if item.weight_units == unit %}selected="selected"{% endif %}>{{ display_unit }}</option>
                {% endfor %}
              </select></td>
        </tr>

        <!-- Color -->
        <tr>
          <td><label>Color</label></td>
          <td><input id="color_picker" name="color" type="text" size="25" placeholder="Imperial Purple (Pantone 19-3528 TCX)" value="{{ item.color }}"/></td>
        </tr>

        <!-- Country of origin -->
        <tr>
          <td><label>Country of origin</label></td>
          <td><input id="country_origin" name="country_origin" type="text" size="25" placeholder="India" value="{{ item.country_origin }}"/></td>
        </tr>

      </table>

      <!-- Submit button -->
      <input type="submit" name="submit" value="Upload product" class="btn btn-large btn-primary">
      <br>
    </form>

    <hr>
    <p>Having trouble with this form, or want to send feedback? <a href="mailto:hello@sundar.io">Contact Sundar</a></p>
    <br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
{% endblock %}
