<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sundar | Edit Product</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css"/>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>

  <script>
    var myInput = document.getElementById('myFileInput');

    function sendPic() {
      var file = myInput.files[0];

      // Send file here either by adding it to a `FormData` object
      // and sending that via XHR, or by simply passing the file into
      // the `send` method of an XHR instance.
    }

    myInput.addEventListener('change', sendPic, false);
  </script>
</head>

<body>
  <div class="container">

    <h2>Upload a new product, or edit an existing one</h2>
    <br>

    <!-- //TODO: Insert a real action here that updates a product or uploads a new one -->
    <form method="POST" enctype="multipart/form-data" name="edit_form" action="/api/set_item">
      {% csrf_token %}
      <input name="item_id" value="{{ item.id }}" type="hidden"/>
      <table class="table table-striped">
      
        <!-- Product name -->
        <!-- //TODO: Maybe add some code (that's called if you're editing an existing product) to auto-populate the fields with the values currently saved for this product -->
        <tr>
          <td><label>Product name</label></td>
          <td><input name="product_name" type="text" placeholder="Product name" value="{{ item.product_name }}"/></td>
        </tr>

        <!-- Upload photo -->
        <tr>
          <td><label>Upload photo</label></td>
          <td><input id="image" name="image" type="file" accept="image/*;capture=camera"></td>
        </tr>

        <!-- In stock/made to order -->
        <tr>
          <td><label>In stock</label></td>
          <td><input type="checkbox" id="in_stock" name="in_stock" {% if item.in_stock %} checked="checked"{% endif %}></td>
        </tr>

        <!-- Unit price -->
        <tr>
          <td><label>Wholesale price</label></td>
          <td><input type="number" size="10" name="wholesale_price" placeholder="0.00" value="{{ item.wholesale_price }}"/>
              <select id="price_units" name="price_units" style="font-size:1.1em;">
                <option value="USD_per_yard">USD per yard</option>
                <option value="USD_per_meter">USD per meter</option>
                <option value="USD_per_piece">USD per piece</option>
              </select></td>
        </tr>

        <!-- Width -->
        <tr>
          <td><label>Fabric width</label></td>
          <td><input type="number" size="10" name="fabric_width" placeholder="0.00" value="{{ item.fabric_width }}"/>
              <select id="width_units" name="width_units" style="font-size:1.1em;">
                <option value="cm">centimeters</option>
                <option value="in">inches</option>
              </select></td>
        </tr>

        <!-- Material type -->
        <tr>
          <td><label>Textile type</label></td>
          <td><select id="textile_type" style="font-size:1.1em;">
            {% for type in textile_types %}
              <option value="{{ type }}" {% if item.textile_types == type %}selcted="selected"{% endif %}>{{ type }}</option>
            {% endfor %}
          </select></td>
        </tr>

        <!-- Weave type -->
        <tr>
          <td><label>Weave type</label></td>
          <td><select id="weave_type" name="weave_types" style="font-size:1.1em;">
            <option value="BasketMatt">Basket/Matt</option>
            <option value="FourHarnessSatin">Crowfoot/Four Harness Satin</option>
            <option value="EightHarnessSatin">Eight Harness Satin</option>
            <option value="Jacquard">Jacquard</option>
            <option value="Knit">Knit</option>
            <option value="Lano">Lano</option>
            <option value="MockLano">Mock Lano</option>
            <option value="Plain">Plain</option>
            <option value="Rib">Rib</option>
            <option value="Sateen">Sateen</option>
            <option value="TricotKnit">Tricot Knit</option>
            <option value="Twill">Twill</option>
            <option value="NA">N/A</option>
          </select></td>
        </tr>

      </table>

      <!-- Submit button -->
      <input type="submit" name="submit" value="Upload product" class="btn btn-large btn-primary">
      <br>
    </form>

    <hr>
    <p>Having trouble with this form, or want to send feedback? <a href="mailto:hello@sundar.io">Contact Sundar</a></p>
    <br><br><br><br><br><br><br><br><br><br><br><br>
  </div>

</body>
</html>
