{% extends "mobile_base.html" %}
{% block title %}Log In {% endblock %}
{% block body %}
  {% load staticfiles %}
  <div class="container">

    <h3>Log in to Sundar as a supplier</h3>

    <br>
    {% for error in form.non_field_errors %}
      <p style="color: red;">{{ error }}</p>
    {% endfor %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="field">
            {{ form.email.errors }}
            {{ form.email }}
        </div>
        <div class="field">
            {{ form.password.errors }}
            {{ form.password }}
        </div>
        <input type="submit" name="submit" value="Log in" class="btn btn-large btn-primary">
    </form>

    <hr>
    <p>Not yet a member? <a href="/mobile/sign_up" class="btn btn-large btn-primary">Join Sundar</a></p>
    <br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
{% endblock %}