<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sundar | Log in</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css"/>
</head>

<body>
  {% load staticfiles %}
  <div class="container">

    <h3>Log in to Sundar as a supplier</h3>
    <br>

    <!-- //TODO: Replace this link with a real action that validates login credentials -->
    <form action="/mobile/login">
      {% csrf_token %}
      <table class="table">
        <!-- Use email address as unique user ID instead of username -->
        <tr>
          <td><label>Email Address</label></td>
          <td><input name="email_addr" type="text" placeholder="name@example.com"/></td>
        </tr>

        <!-- Password -->
        <tr>
          <td><label>Password</label></td>
          <td><input name="password" type="password" placeholder="password"/></td>
        </tr>

        <!-- Submit button -->
        <tr>
          <td><input type="submit" name="submit" value="Log in" class="btn btn-large btn-primary"></td>
          <td></td>
        </tr>
      <br>
      
      </table>
    </form>

    <hr>
    <p>Not yet a member? <a href="/mobile/sign_up" class="btn btn-large btn-primary">Join Sundar</a></p>
    <br><br><br><br><br><br><br><br><br><br><br><br>
  <div>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
