<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sundar | Products</title>
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" type="text/css"/>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="../static//bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">

    <h2>Here are the products you have uploaded:</h2>
    <br>

    <table class="table table-striped">

      <!-- One row for each product -->
      <!-- //TODO: replace the "href='edit_product.html'" with some kind of action that takes you to the edit product page with this product loaded (maybe an HTTP GET parameter that includes the product's ID -->
      <!-- //TODO: wrap this table row in some kind of for/while/etc. loop, so there is one row for each product the user has uploaded -->
      <!-- //TODO: replace the stock photo ("fabric_image.png") with a photo specifically belonging to this product, and replace the "Super awesome fabric" text with whatever product name is attached to this product -->
      <tr>
        <td><a href="edit_product.html"><img src="fabric_image.png" alt="product photograph" width="75" height="75"></a></td>
        <td><a href="edit_product.html"><b>Super awesome fabric</b></a></td>
      </tr>

      <!-- Add new product button -->
      <!-- //TODO: maybe add a GET parameter to the "edit_product.html" link so that page knows you're creating a new product instead of editing an existing one; maybe don't bother, and that page will just assume that if there is no parameter, you're editing a new one; it's up to you. -->
      <tr>
        <td><a href="edit_product.html" class="btn btn-large btn-primary">Add new product</a></td>
        <td></td>
      </tr>
    
    </table>
    <br>

    <hr>
    <p>Having trouble with this form, or want to send feedback? <a href="mailto:hello@sundar.com">Contact Sundar</a></p>
    <br><br><br><br><br><br><br><br><br><br><br><br>
  <div>

</body>
</html>
