    <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sundar | Sign up</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css"/>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">

    <h3>Create an account as a Sundar supplier</h3>

    <!-- //TODO: Replace this action with the real action that creates an account, once account validation is finished -->
    <!-- <form id="signup_form" action="/mobile/sign_up"> -->
    <form id="signup_form" action="/mobile/create_user">
      {% csrf_token %}
      <table class="table">
        <!-- Username --> 
        <tr>
          <td><label>Company Name</label></td>
          <td><input name="company_name" type="text" placeholder="Company Name"/></td>
        </tr>

        <!-- Email address -->
        <!-- //TODO: I was thinking of making Email Address the unique account ID because I think email addresses are easier for users to remember than usernames they have to create, but this is up to you! -->
        <tr>
          <td><label>Email Address</label></td>
          <td><input name="email_addr" type="text" placeholder="name@example.com"/></td>
        </tr>

        <!-- Password -->
        <tr>
          <td><label>Password</label></td>
          <td><input name="password" type="password" placeholder="Password"/></td>
        </tr>

        <!-- Confirm password -->
        <tr>
          <td><label>Confirm Password</label></td>
          <td><input name="confirm_password" type="password" placeholder="Password"/></td>
        </tr>

        <!-- Submit button -->
        <tr>
          <td><input type="submit" name="submit" value="Create account" class="btn btn-large btn-primary"></td>
          <td></td>
        </tr>
      <br>
      
      </table>
    </form>

    <hr>
    <p>Already have an account? Go to the <a href="/mobile/">login page</a>.</p>
    <br><br><br><br><br><br><br><br><br><br><br><br>
  <div>

</body>
</html>
