{% extends "web_base.html" %}
{% load staticfiles %}
{% load filters %}
{% block title %} Market {% endblock %}
{% block head %}
<script src="{{STATIC_URL}}web/js/jquery.shuffle.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}web/css/market.css">
<link rel="stylesheet" href="{{STATIC_URL}}web/css/flags.css">
{% endblock %}
{% block body %}
<div class="row">
  <h1>Market</h1>
  <p>Find the best stuff.</p>
</div>
<div class="row">
  <div class="large-2 left columns">
    <label>Material Type</label>
    <select id="select-textile" class="filter">
      <option value="all">All</option>
      <option value="Denim">Denim</option>
      <option value="Silk">Silk</option>
      <option value="Cotton">Cotton</option>
      <option value="Sheep">Sheep</option>
    </select>
  </div>
  <div class="large-4 left columns">
    <label>Stock</label>
    <input id="checkbox-instock" class="filter" type="checkbox"><label for="checkbox1">In stock</label><br>
    <input id="checkbox-madetoorder" class="filter" type="checkbox"><label for="checkbox2">Made to Order</label>
  </div>
</div>
  <div class="grid row">
    <div class="large-12 columns">
      <div id="grid" class="row">
        {% for item in items %}
          <div class="unit mix large-3 small-6 columns"
          data-country="{{item.country_origin}}"
          data-textile="{{item.textile_type}}"
          {% if item.made_to_order %} data-madetoorder = "" {% endif %}
          {% if item.in_stock %} data-instock = "" {% endif %}
          >
            <div class="title" data-category="name"><h6>{{item.product_name}}</h6></div>
            <a href="/items/{{item.id}}">
              <div class="image-wrapper">
                  <img class="image" src="{{item.image1_url}}" />
              </div>
            </a>
            <div class="panel">
              {% if item.in_stock %} <i class="fa-check-square-o fa" title="in stock"></i> {% endif %}
              {% if item.made_to_order %} <i title="made to order" class="fa-scissors fa"></i> {% endif %}
              <span class="secondary label">5x3</span>
              <img  class="flag flag-in" alt="{{item.country_origin}}" />
              <h5 class="panel-data">{{item.textile_type}}</h5>
              <span class="description">Lead time: {{item.lead_time}}</span>
              <span class="description">Wholesale: {{item.wholesale_price}}</span>
              <span class="description">Weave: {{item.weave_type}}</span>

              <div class="seller-bar">
                <ul class="button-group">
                  <li><a href="#" class="tiny button">{{item.supplier.last_name}}</a></li>
                  <li><a href="#"  data-user-id={{item.supplier.id}}  class="tiny button button-message">Message</a></li>
                </ul>
              </div>
            </div>
          </div>

        {% endfor %}


      </div>

<!-- End Thumbnails -->


      </div>
    </div>
  </div>

<!-- modal -->
  <div id="messageModal" class="reveal-modal" data-reveal>
  </div>


<script>

$(document).ready(function() {
  $('.button-message').click(function() {
    var id = $(this).data('user-id');
    $('#messageModal').foundation('reveal', 'open', {
        url: '/message/',
        data: {user_id: id}
    });
  });
});



function filters($el) {
  return textile_filter($el) && boolean_filters($el);
}

function textile_filter($el) {
  var selector = $('#select-textile')
  var textile = selector.val()
  var index = selector.prop("selectedIndex");
  if (index==0) {return true;}
  else { return $el.data('textile')===textile; }
}

function boolean_filters($el) {
  return in_stock_filter($el) && made_to_order_filter($el);
}

function in_stock_filter($el) {
  if ($('#checkbox-instock').is(':checked')) {
    return $el.data('instock')==="";
  }
  else {
    return true;
  }
}

function made_to_order_filter($el) {
  if ($('#checkbox-madetoorder').is(':checked')) {
    return $el.data('madetoorder')==="";
  }
  else {
    return true;
  }
}

$(document).ready(function() {
  $('.filter').on('change', function() {
    $('#grid').shuffle('shuffle', function($el, shuffle) {
      return filters($el);
    });

  });
});
</script>
{% endblock %}