<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sundar | Marketplace</title>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css"/>
</head>
<body>

<div data-role="page" id="page1">
  <div data-role="header">
  <h1>Sundar.io Marketplace</h1>
  </div>
  {% for item1, item2, item3 in grouped_items %}
  <div data-role="content">
   <div class="ui-grid-b">
    {% if item1 %}
     <div class="ui-block-a">
       <img src="{{ item1.image1_url }}" alt="image" width="300" height="300"><br>
       <span>"{{ item1.product_name }}"</span><br>
       <span>Price: {{ item1.wholesale_price }} {{item1.wholesale_price_units}}</span><br>
       <span>Width: {{ item1.fabric_width }} {{item1.fabric_width_units}}</span><br>
       <span>Textile: {{ item1.textile_type }}</span><br>
       <span>Weave: {{ item1.weave_type }}</span><br>
       <a href="#" class="btn btn-success btn-large" style="color:white"><i class="icon-white icon-heart"></i>Buy</a>
     </div>
    {% endif %}
    {% if item2 %}
     <div class="ui-block-b">
       <img src="{{ item2.image1_url }}" alt="image" width="300" height="300"> <br>
       <span>"{{ item2.product_name }}"</span><br>
       <span>Price: {{ item2.wholesale_price }} {{item2.wholesale_price_units}}</span><br>
       <span>Width: {{ item2.fabric_width }} {{item2.fabric_width_units}}</span><br>
       <span>Textile: {{ item2.textile_type }}</span><br>
       <span>Weave: {{ item2.weave_type }}</span><br>
       <a href="#" class="btn btn-success btn-large" style="color:white"><i class="icon-white icon-heart"></i>Buy</a>
    </div>
    {% endif %}
    {% if item3 %}
     <div class="ui-block-c">
       <img src="{{ item3.image1_url }}" alt="image" width="300" height="300"> <br>
       <span>"{{ item3.product_name }}"</span><br>
       <span>Price: {{ item3.wholesale_price }} {{item3.wholesale_price_units}}</span><br>
       <span>Width: {{ item3.fabric_width }} {{item3.fabric_width_units}}</span><br>
       <span>Textile: {{ item3.textile_type }}</span><br>
       <span>Weave: {{ item3.weave_type }}</span><br>
       <a href="#" class="btn btn-success btn-large" style="color:white"><i class="icon-white icon-heart"></i>Buy</a>
     </div>
    {% endif %}
   </div>
  </div>
  {% endfor %}
</div> 

<p>Having trouble with this form, or want to send feedback? <a href="mailto:hello@sundar.io">Contact Sundar</a></p>
<br><br><br><br><br><br><br><br><br><br><br><br>

<style>
 .ui-block-a,
.ui-block-b,
.ui-block-c
{
font-family: "Trebuchet MS";
text-align: center;
left-padding: 30px;
}

 .ui-block-a > .a,
.ui-block-b > .a,
.ui-block-c > .a,
{
color: white !important;
}
</style>
</body>
</html>
