{% extends "web_base.html" %}
{% load staticfiles %}
{% load filters %}
{% block title %} User {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{STATIC_URL}}web/css/market.css">
<link rel="stylesheet" href="{{STATIC_URL}}web/css/flags.css">
{% endblock %}
{% block body %}
<div class="row">
      <!-- Side Bar -->

      <div class="large-3 small-12 columns">

        <div class="hide-for-small panel">
          <h3>{{profile_user.first_name}} {{profile_user.last_name}}</h3>
          <a href="#" class="tiny button">Message</a>
          <hr>

          <h5 class="subheader">These are the things {{profile_user.first_name}} sells.</h5>

        </div>

      </div>

      <div class="large-9 columns">
        <div class="row">
          {% for item in items %}
            <div class="unit mix large-4 small-6 columns">
              <div class="title" data-category="name"><h6>{{item.product_name}}</h6></div>
              <a href="/items/{{item.id}}">
                <div class="image-wrapper">
                    <img class="image" src="{{item.image1_url}}" />
                </div>
              </a>
              <div class="panel">
                {% if item.in_stock %} <i class="fa-check-square-o fa" title="in stock"></i> {% endif %}
                {% if item.made_to_order %} <i title="made to order" class="fa-scissors fa"></i> {% endif %}
                <span class="secondary label">5x3</span>
                <img  class="flag flag-in" alt="{{item.country_origin}}" />
                <h5 class="panel-data">{{item.textile_type}}</h5>
                <span class="description">Lead time: {{item.lead_time}}</span>
                <span class="description">Wholesale: {{item.wholesale_price}}</span>
                <span class="description">Weave: {{item.weave_type}}</span>

                <div class="seller-bar">
                  <ul class="button-group">
                  </ul>
                </div>
              </div>
            </div>

          {% endfor %}
        </div>
        </div>
      </div>
    </div>
{% endblock %}