<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <title>Log In</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css"/>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <br><br>
    <div class="span4">
      <h1>Sundar: the material-sourcing marketplace</h1>  <!-- Replace this with a catchy header and title -->

      <br>
 
      <h2>Log In</h2>
      <form method="POST" action="/validate_login">  <!-- Replace 'action="/validate_login"' with something that processes your POST request and validates the password -->
        {% csrf_token %}
        <input name="username" type="text" placeholder="Username"/>
        <input name="password" type="password" placeholder="Password"/>
        <input type="submit" name="submit" value="Log in" class="btn btn-large btn-primary">
      </form>

      <p>Trouble logging in? <a href="mailto:hello@sundar.io">Contact Sundar</a></p>  <!-- Replace the 'mailto:' link with a valid email address or other contact method -->

      <hr>
      <p>Want to join the material-sourcing marketplace? <a href="mailto:hello@sundar.io">Request an invitation</a></p>

    </div>
  <div>
</body>
</html>
