{% extends "web_base.html" %}
{% block title %} Login {% endblock %}

{% block body %}
<div class="row">
  <br><br>
  <div class="span4">
    <h1>Sundar: the material-sourcing marketplace</h1>  <!-- Replace this with a catchy header and title -->

    <br>
    <h2>Log In</h2>
    {% for error in form.non_field_errors %}
      <p style="color: red;">{{ error }}</p>
    {% endfor %}

    <form action="" method="post">
        {% csrf_token %}
        <div class="field">
            {{ form.email.errors }}
            {{ form.email }}
        </div>
        <div class="field">
            {{ form.password.errors }}
            {{ form.password }}
        </div>
        <input type="submit" name="submit" value="Log in" class="btn btn-large btn-primary">
    </form>
    <p>Trouble logging in? <a href="mailto:hello@sundar.io">Contact Sundar</a></p>

    <hr>
    <p>Want to join the material-sourcing marketplace? <a href="mailto:hello@sundar.io">Request an invitation</a></p>

  </div>
</div>
{% endblock %}