<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8"/>
  <title>{% block title %}{% endblock %} | Sundar</title>
  <script src="/static/js/vendor/jquery.js"></script>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/foundation.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/web.css">
  <script src="/static/js/vendor/modernizr.js"></script>
  {% block head %}
  {% endblock %}
</head>

<body>
<script src="/static/js/foundation.min.js"></script>
<div class="row">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Sundar</a></h1>
      </li>
    </ul>
    {% if user %}
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="has-dropdown">
            <a href="#">Menu</a>
            <ul class="dropdown">
              <li><a href="/market/">Market</a></li>
              <li><a href="/inbox/">Inbox</a></li>
              <li><a href="/logout/">Log out</a></li>
            </ul>
          </li>
        </ul>
      </section>
    {% endif %}
  </nav>
</div>

{% block body %}
{% endblock %}
<footer class="row">
  <div class="large-12 columns"><hr />
    <div class="row">

      <div class="large-6 columns">
        <p>&copy; Copyright Sundar</p>
      </div>
    </div>
  </div>
</footer>
 <script>
    $(document).foundation();
  </script>
</body>
</html>
