.profile_image {
	max-width: 150px;
	margin-top: 30px;
	float: left;
}
.slide_container {
	width: 200px;
	height: 300px;
	padding-left: 30px;
}
.slidesjs-previous, .slidesjs-next {
	visibility: hidden;
}
.jumbotron {
	margin-top: -20px;
}
.item-attributes p {
	padding: 0px;
	margin: 0px;
}
.item-attributes-keys {
	text-align: right;
}
.img-cell {
	margin-top: 20px;
}